*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    padding: 20px;
    font-size: 3rem;
    margin-top: 20px;
}

h1 span{
    background-color: #ffa31a;
    border-radius: 5px;
    color: #1b1b1b
}