body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;

}

#root{
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 15px;
  height: 100dvh;
  padding: 15px;
  position: relative;
  /* font-family: monospace; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
